@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  background-color: #f8f6f3 !important;
  font-family: 'DM Sans', sans-serif;
}

/* .show {
  display: block;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
} */

@media (max-width: 600px) {
  /* .show {
    display: block !important;
    position: fixed !important;
    z-index: 10 !important;
    top: 980px !important;
    height: 100vh !important;
    left: 0px !important;
    padding: 20px !important;
    background-color: white !important;
    width: 100% !important;
  } */

  .top {
    margin-top: 15px;
  }
  .container {
    padding: 15px;
    margin-top: 80px !important;
  }
  .nav {
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    top: 0px;
  }
}

.tabs.is-medium{
  font-size: 16px !important;
}

/* ScrollBar */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 200px;
}

::-webkit-scrollbar-track {
  background: rgb(197, 197, 197, 0.8);
  border-radius: 200px;
}

::-webkit-scrollbar-thumb {
  background: rgba(65, 65, 65, 0.5);
  border: 0 0 0 solid none;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(65, 65, 65, 0.8);
  border-radius: 200px;
}
