@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  background-color: #f8f6f3 !important;
  font-family: 'DM Sans', sans-serif;
}

/* .show {
  display: block;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
} */

@media (max-width: 600px) {
  /* .show {
    display: block !important;
    position: fixed !important;
    z-index: 10 !important;
    top: 980px !important;
    height: 100vh !important;
    left: 0px !important;
    padding: 20px !important;
    background-color: white !important;
    width: 100% !important;
  } */

  .top {
    margin-top: 15px;
  }
  .container {
    padding: 15px;
    margin-top: 80px !important;
  }
  .nav {
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    top: 0px;
  }
}