@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  background-color: #f8f6f3 !important;
  font-family: 'DM Sans', sans-serif;
}


@media (max-width: 600px) {
  .top {
    margin-top: 15px;
  }
  .container {
    padding: 15px;
  }
  .nav {
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    top: 0px;
  }
}

.tabs.is-medium{
  font-size: 16px !important;
}


.categories-inheader .navbar-burger{
  margin-left: 0;
}
.user-dropdown .dropdown-menu{
  right: 0;
  left: auto;
}

/* ScrollBar */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 200px;
}

::-webkit-scrollbar-track {
  background: rgb(197, 197, 197, 0.8);
  border-radius: 200px;
}

::-webkit-scrollbar-thumb {
  background: rgba(65, 65, 65, 0.5);
  border: 0 0 0 solid none;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(65, 65, 65, 0.8);
  border-radius: 200px;
}
